<div class="col s12 m7 l7">
    <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle red">email</i>

            <span class="title">E-Mail</span>
            <p><%=email%><br>

            </p>
            <a href="#!" class="secondary-content"></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle green">settings_cell</i>
            <span class="title">Telefon Numarası</span>
            <p><%=userInfo.phonenumber%><br>

            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle green">shopping_cart</i>
            <span class="title">Alışveriş Sepetiniz</span>
            <p><br>

            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle green">favorite</i>
            <span class="title">Favorileriniz</span>
            <p><br>

            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
        </li>
    </ul>
</div>