<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img
                    src="https://images.unsplash.com/photo-1525119466982-286fa4d7cf5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
            </div>
            <div class="card-content">
                <p>Sizi görmek ne güzel! Bu sizin kişisel panonunuz, vermiş olduğunuz siparişleri, adres kayıtlarınızı
                    düzenleyebilir, hemen aşağıdan alışveriş yapmaya başlayabilirsiniz!</p>
            </div>
            <div class="card-action green">
                <a class="white-text waves-effect waves-red" href="#">Hemen sepetine bir şeyler ekle!</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle red">email</i>

                <span class="title">E-Mail</span>
                <p><%=email%><br>

                </p>
                <a href="#!" class="secondary-content"></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">settings_cell</i>
                <span class="title">Telefon Numarası</span>
                <p><%=userInfo.phonenumber%><br>

                </p>
                <a href="#!" class="secondary-content waves-effect waves-red"><i class="material-icons">edit</i></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">shopping_cart</i>
                <span class="title">Alışveriş Sepetiniz</span>
                <p><br>

                </p>
                <a href="#!" class="secondary-content waves-effect waves-red"><i class="material-icons">edit</i></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">favorite</i>
                <span class="title">Favorileriniz</span>
                <p><br>

                </p>
                <a href="#!" class="secondary-content waves-effect waves-red"><i class="material-icons">edit</i></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">location_city</i>
                <span class="center-align title">Adres Defteriniz</span>

                <ul style="margin-top: 20px;" class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">home</i>
                            First
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">business</i>
                            Second

                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                </ul>
                <a href="#!" class="secondary-content waves-effect waves-red"><i class="material-icons">edit</i></a>

            </li>
        </ul>
    </div>

</div>