<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

    <header>
        <nav class="nav-extended white">
            <%- include navbar/navbar-top %>

            <div class="nav-wrapper" style="margin-bottom:1.5em;">
                <a href="/" class="brand-logo center"><img src="https://via.placeholder.com/64x64.png?text=LOGO"></img></a>
            </div>

            <%- include navbar/navbar-bottom %>
        </nav>
    </header>
