<%- include partials/header %>

<div class="container">
    <img src="https://via.placeholder.com/960x640.jpg?text=insert+image+here" />

    <div class="row" style="margin-top:1em; padding-left: 2.5%;">
        <img src="https://via.placeholder.com/280x400.jpg?text=insert+image+here" class="col 12s 4m 4l" />
        <img src="https://via.placeholder.com/280x400.jpg?text=insert+image+here" class="col 12s 4m 4l" />
        <img src="https://via.placeholder.com/280x400.jpg?text=insert+image+here" class="col 12s 4m 4l" />
    </div>

    <img src="https://via.placeholder.com/960x640.jpg?text=insert+image+here" />
</div>

<br><br>

<%- include partials/footer %>
