<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

    <nav class="nav-extended white">
        <div class="nav-wrapper" style="padding-top: 1.5em">
            <a href="/" class="brand-logo center">
                <img style="width: 25%; border-radius: 5px;" class="responsive-img" src="/images/zalinalogo.png" />
            </a>
            <br><br>
        </div>
    </nav>
    <div class="container">
        <%-include partials/panel/header.ejs %>
        <%if(index === 0) {%>
        <h5>İstatistik kısmı buraya gelecek.</h5>
        <%}else{%>
        <%- include partials/panel/addproduct.ejs %>
        <%}%>
    </div>
</body>
<%-include partials/panel/footer.ejs%>

</html>
