<div class="nav-wrapper">
    <ul class="left hide-on-med-and-down">
        <li><a href="/customer-service" class="black-text">Müşteri Hizmetleri</a></li>
    </ul>
    <!-- <ul id="dropdown-cart" class="dropdown-content">
        <p class="black-text">Alisveris sepetiniz boş</p>
    </ul> -->
    <ul class="right hide-on-med-and-down">
        <li>
            <a href="/login" class="black-text valign-wrapper">
                <i class="material-icons left">person</i> Oturum aç
            </a></li>
        <li>
            <a href="/cart" class="black-text valign-wrapper">
                <i class="material-icons left">shopping_basket</i> Alışveriş sepeti
            </a>
        </li>
    </ul>
</div>
