<div class="nav-wrapper">
    <ul class="left hide-on-med-and-down row">
        <li><a href="/customer-service" style="font-size: 12px;" class="black-text">Müşteri Hizmetleri</a></li>


    </ul>
    <ul class="left hide-on-med-and-down row">
        <li><a href="/customer-service" class=""><img style="width: 15px;" src="/images/tr.png"></a>
        </li>
        <li><a href="/customer-service" class=""><img style="width: 15px;" src="/images/rs.png"></a>
        </li>
    </ul>
    <!-- <ul id="dropdown-cart" class="dropdown-content">
        <p class="black-text">Alisveris sepetiniz boş</p>
    </ul> -->
    <ul class="right ">
        <li>

            <% if (!session.userid) { %>
            <a href="/login" style="font-size: 12px;" class="black-text valign-wrapper">
                <i class="material-icons left">person</i>Oturum Aç
            </a>
            <% } else { %>
            <a href="/profile" style="font-size: 12px;" class="black-text valign-wrapper">
                <i class="material-icons left">person</i>Profilim
            </a>
            <% }%>
        </li>
        <li>
            <a href="#" style="font-size: 12px;" class="black-text valign-wrapper">
                <i class="material-icons left">favorite</i> Favorilerim
            </a>
        </li>
        <li>
            <a href="/cart" style="font-size: 12px;" class="black-text valign-wrapper">
                <i class="material-icons left">shopping_basket</i> Alışveriş Sepetim (<div id="cartQty">
                    <%= (session.cart) ? session.cartQty : 0; %>
                </div>)
            </a>
        </li>
    </ul>
</div>