<div class="row" style="margin-top: 5%;">
    <div class="header center"> Yönetici Paneli </div>

    <div class="col s12 m12 l12">
        <div class=" collection white black-text">
            <a class="collection-item black-text" href="/panel/add"> Ürün Ekle<span class="badge"><i
                        class="tiny material-icons">apps</i></span> </a>
            <a class="collection-item black-text" href="#"> Ürün Düzenle<span class="badge"><i
                        class="tiny material-icons">apps</i></span> </a>
            <a class="collection-item black-text" href="#"><span class="badge"><i
                        class="tiny material-icons">account_circle</i></span> Duyuru & Kampanya Bildirileri</a>
            <a class="collection-item black-text" href="#"><span class="badge"><i
                        class="tiny material-icons">account_circle</i></span>E-Bülten Ayarları</a>
            <a class="collection-item black-text" href="#"><span class="badge"><i
                        class="tiny material-icons">account_circle</i></span>Geliştirici Ayarları</a>
        </div>
    </div>
</div>